<!DOCTYPE html>
<html>
    <head>
        <title>Welcome To AISystance</title>
        <link rel="stylesheet" href="../static/style.css" type="text/css">
    </head>

    <body class="home_background">
        <form name="form" method="POST">
            <h3 class="title">Log in</h3>
            <br>
            Id: <input type="text" name="id" placeholder="Enter your Id" required/>
            <br><br>
            Password: <input type="password" name="password" placeholder="Enter your password" required/>
            <br><br>
            <button type="submit" name="submit" value="submit">Log in</button>
        </form>
    </body>
</html>