<!DOCTYPE html>
<html>
    <head>
        <title>SystraAI Machine Learning App</title>
        <link rel="stylesheet" href="../static/style.css" type="text/css">
        <script>
          document.addEventListener('DOMContentLoaded', function() {
            var stringColumnsSelect = document.getElementById('StringColumns');
            var stringSelectElement = document.getElementById('FilteredElement'); 
            var form = document.getElementById("form");

            stringColumnsSelect.addEventListener('change', function() {
              var selectedValue = this.value;
              var redirectUrl = window.location.origin + window.location.pathname + '?StringColumns=' + encodeURIComponent(selectedValue);
              window.location.href = redirectUrl;
            });

            // stringSelectElement.addEventListener('change', function() {
            //   var selectedValue = this.value;
            //   var url = window.location.href;
            //   var params = new URLSearchParams(window.location.search);

            //   // Mettre à jour le paramètre FilteredElement
            //   params.set('FilteredElement', encodeURIComponent(selectedValue));

            //   // Supprimer les doublons du paramètre FilteredElement
            //   var filteredElements = params.getAll('FilteredElement');
            //   if (filteredElements.length > 1) {
            //     filteredElements.shift(); // Supprimer le premier élément
            //     params.set('FilteredElement', filteredElements);
            //   }

            //   // Reconstruire l'URL avec les paramètres mis à jour
            //   var redirectUrl = url.split('?')[0] + '?' + params.toString();

            //   window.location.href = redirectUrl;
            // });
            
          });
      </script>
    </head>

    <body class="index_background">
        <nav class="navbar">
          <div class="navbar-logo">
            <img src="../static/logo.png" alt="Logo">
          </div>
          <ul class="navbar-tabs">
              {% if current_user.has_role('admin') %}
                  <li><a href="index.html">Make a prediction</a></li>
                  <li><a href="knn.html">Find a neighbor</a></li>
                  <li><a href="database.html">Add an element to the database</a></li>
                {% endif %}
            <li><a href="lookup.html">See the dataset</a></li>
            <li><a href="logout">Log out</a></li>
          </ul>
        </nav>

        <form method="POST" class="database_query" id="form" name="form">
          <h3>Query the database</h3>
          <select id="StringColumns" name="StringColumns" placeholder="Choose the column to filter">
            <option value="None">None</option>
            {% for column in string_columns %}
              {% if column == selected_string_column %}
                <option value="{{ column }}" id="{{ column }}" name="{{ column }}" selected>{{ column }}</option>
              {% else %}
                <option value="{{ column }}" id="{{ column }}" name="{{ column }}">{{ column }}</option>
              {% endif %}
            {% endfor %}
          </select>
          <select id="FilteredElement" name="FilteredElement" placeholder="Choose the element to filter">
            <option value="None">None</option>
            {% if selected_string_column %}
              {% for choice in elements %}
                <option value="{{ choice }}">{{ choice }}</option>
              {% endfor %}
            {% endif %}
          </select>
          <br/>
          <select id="NumColumns" name="NumColumns" placeholder="Choose the column to filter">
            <option value="None">None</option>
            {% for column in num_columns %}
              {% if column == selected_num_column %}
                <option value="{{ column }}" id="{{ column }}" name="{{ column }}" selected>{{ column }}</option>
              {% else %}
                <option value="{{ column }}" id="{{ column }}" name="{{ column }}">{{ column }}</option>
              {% endif %}
            {% endfor %}
          </select>
          <input type="number" id="LowerBound" name="LowerBound" placeholder="lower bound" style="width: 100px;" />
          <input type="number" id="UpperBound" name="UpperBound" placeholder="upper bound" style="width: 100px;" />
          <button type="submit" name="submit" value="submit">Rechercher</button>
        </form>        
        
        <table>
          {{ data|safe }}
        </table>
    </body>
</html>
