<!DOCTYPE html>
<html>
    <head>
        <title>Welcome To AISystance</title>
        <link rel="stylesheet" href="../static/style.css" type="text/css">
    </head>

    <body class="home_background">
        <form name="form" method="POST" class="database_form">
            <h3 class="title">Sign up</h3>
            <br>
            Id: <input type="text" name="id" placeholder="Enter your Id" required/>
            <br><br>
            Password: <input type="password" name="password" placeholder="Enter your password" required/>
            <br><br>
            <select name="role">
              <option value="admin" selected>Admin</option>
              <option value="data">Data</option>
            </select>
            <br><br>
            <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
        </form>
    </body>
</html>