<!DOCTYPE html>
<html>
    <head>
        <title>Welcome To AISystance</title>
        <link rel="stylesheet" href="../static/style.css" type="text/css">
    </head>

    <body class="home_background">
        <a href="home.html">Login page</a>
        <a href="index.html">Make a prediction</a>
        <a href="database.html">Add an element to the database</a>
        <form name="form" method="POST">
            <br>
            Id: <input type="email" name="id" placeholder="Enter your mail" required/>
            <br><br>
            Password: <input type="password" name="password" placeholder="Enter your password" required/>
            <br><br>
            <button type="submit" name="submit" value="submit">Log in</button>
        </form>
    </body>
</html>